
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.main-page {
  background-color: black;
  font-family: 'Quicksand', sans-serif;
}

.loading {
  z-index: 99;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

/* .video-foreground, iframe {
  z-index: -99;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
} */

.top-part {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* .logo {
  height: 10vw;
  width: 20vw;
  max-width: 260px;
  max-height: 123px;
} */

.name-proff {
  font-size: calc(10px + (30 - 10) * ((100vw - 300px) / (1600 - 300)));
  color: #596574;
}

.full-name, .proff {
  text-align: center;
  margin: auto;
  background:url('../img/gTexture.jpg') no-repeat center center;
  background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
  /* background-repeat:repeat-x;
  background-position:0 0;
  background-size: cover;
  color: #fff;
  -webkit-font-smoothing:antialiased;
  -webkit-background-clip:text;
  -moz-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  animation: backgroundEthereal 11s linear infinite; */
}

.center-part {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.myPicture {
  border-radius: 10%;
  width: 37vw;
  height: 28vw;
  max-width: 699px;
  max-height: 524px;
}

.contact-info {
  font-weight: bold;
  line-height: 2;
  font-size: calc(10px + (27 - 12) * ((100vw - 300px) / (1600 - 300)));
  color: #ffffff;
  -webkit-animation: neonGlow 2s ease-out 0s alternate infinite none running;
  -moz-animation: neonGlow 2s ease-out 0s alternate infinite none running;
  animation: neonGlow 2s ease-out 0s alternate infinite none running;
}

.shortBio {
  width: 50%;
  height: 28vw;
  overflow-y: scroll;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.82);
  border-radius: 3px;
  font-size: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.featured-work {
  margin: 0.3vw;
  text-align: center;
  font-size: calc(14px + (34 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #ffffff;
}

.resumeCont {
  margin: 0.3%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.resume {
  color: black;
  background-color: white;
  border-radius: 5px;
  font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.filter {
  width: 50%;
  height: 14%;
  margin-left: 25%;
  background-color: transparent;
  border-color:#ffffff;
  /* animation-name: borderGlow;
  animation-duration: 3s;
  animation-iteration-count: infinite; */
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.projectList {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
}

.contact-info-cont, .projectContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.contact-info-cont{
  width: 70%;
  margin-left: 3%;
}

.projectContainer {
  align-items: center;
  border-style: solid;
  border-radius: 5px;
  border-color:#ffffff;
  /* animation-name: borderGlow;
  animation-duration: 3s;
  animation-iteration-count: infinite; */
  width: 20vw;
  height: 20vw;
  margin: 0.3vw;
}

.links {
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.82);
  border-radius: 4px;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.projectPictures {
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #000000;
    -webkit-box-shadow: inset 0 0 6px #000000;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ffffff;
}

/* .udaLink {
  animation-name: colorGlow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
} */

a, a:visited, a:hover, a:active {
  text-decoration: none;
  cursor: pointer;
}

/* @keyframes backgroundEthereal {
  from {
      background-position: 0 0
  }
  to {
      background-position: 100% 0
  }
} */

/* @keyframes borderGlow {
    0%   {border-color:#ffffff;}
    50%  {border-color:#0a0b0b;}
    100% {border-color:#ffffff;}
} */

/* @keyframes colorGlow {
    0%   {color:#596574;}
    50%  {color:#0012ff;}
    100% {color:#596574;}
} */

@keyframes neonGlow {
  from {
    text-shadow: 0 0 10px #d0d0ff, 0 0 20px #d0d0ff, 0 0 30px #d0d0ff, 0 0 40px #6edcff, 0 0 70px #6edcff, 0 0 80px #6edcff, 0 0 100px #6edcff, 0 0 150px #6edcff;
  }
  to {
    text-shadow: 0 0 5px #d0d0ff, 0 0 10px #d0d0ff, 0 0 15px #d0d0ff, 0 0 20px #6edcff, 0 0 35px #6edcff, 0 0 40px #6edcff, 0 0 50px #6edcff, 0 0 75px #6edcff;
  }
}

@media screen and (max-width: 1100px) {
  .projectContainer {
    width: 30vw;
    height: 30vw;
  }
}

@media screen and (max-width: 850px) {
  .contact-info-cont{
    width: 63%;
  }
}

@media screen and (max-width: 470px) {
  .contact-info-cont{
    width: 57%;
  }
}

@media screen and (max-width: 340px) {
  .contact-info-cont{
    width: 55%;
  }
}
