
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.main-page {
  background-color: white;
  font-family: helvetica, georgia, verdana;
}

.top-part {
  width: 100%;
  display: block;
}

.logo {
  height: 10vw;
  width: 20vw;
  max-width: 260px;
  max-height: 123px;
}

.name-proff {
  font-size: calc(10px + (30 - 10) * ((100vw - 300px) / (1600 - 300)));
  color: #596574;
  float: right;
}

.full-name, .proff {
  margin: auto;
  background:url('../img/gTexture.jpg');
  background-repeat:repeat-x;
  background-position:0 0;
  color:transparent;
  -webkit-font-smoothing:antialiased;
  -webkit-background-clip:text;
  -moz-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  animation: backgroundEthereal 11s linear infinite;
}

.center-part {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.myPicture {
  width: 37vw;
  height: 28vw;
  max-width: 699px;
  max-height: 524px;
}

.shortBio {
  width: 50%;
  height: 28vw;
  font-family: inherit;
  overflow-y: scroll;
  color: #596574;
  font-size: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.featured-work {
  margin: 0.3vw;
  text-align: center;
  font-size: calc(14px + (34 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #596574;
}

.filter {
  width: 50%;
  height: 14%;
  margin-left: 25%;
  text-align: center;
  font-family: inherit;
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.projectList {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
}

.projectContainer {
  align-items: center;
  border-style: solid;
  border-radius: 5px;
  animation-name: borderGlow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  width: 20vw;
  height: 20vw;
  margin: 0.3vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.links {
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #596574;
  border-radius: 4px;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.projectPictures {
  cursor: pointer;
}

.udaLink {
  animation-name: colorGlow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  cursor: pointer;
}

@keyframes backgroundEthereal {
  from {
      background-position: 0 0
  }
  to {
      background-position: 100% 0
  }
}

@keyframes borderGlow {
    0%   {border-color:#596574;}
    50%  {border-color:#0a0b0b;}
    100% {border-color:#596574;}
}

@keyframes colorGlow {
    0%   {color:#596574;}
    50%  {color:#0012ff;}
    100% {color:#596574;}
}

@media screen and (max-width: 1100px) {
  .projectContainer {
    width: 30vw;
    height: 30vw;
  }
}
